.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.office-card {
  margin-bottom: 30px;
}

.textRed {
  color: red;
  font-weight: bold;
}

.textGreen {
  color: green;
  font-weight: bold;
}

.img{
  width: 60%;
  height: 60%;
}
